body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 5px;
  width: 200px;
  height: 200px;
  color: orange;
  box-shadow: 7px 7px 10px 5px #ccc;
  border-radius: 4px;
}

button:active {
  transform: rotate(45deg);
}
